  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-space-between">
    <div>
      <a class="navbar-brand" href="#">
        <%= link_to root_path do  %>
          <%= image_tag("logo_Lexit_white_border_official.png", width: 80 , alt: "alttext") %>
        <% end %>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="topnav col-6" style="width : auto;">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs form-inline" >
        <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label:false %>

        <%= f.input :password, required: false, placeholder: "Password", label:false %>

        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </nav>
