


<div class="container-main">
  <div class="index_banner d-flex flex-column align-items-center">
    <div class = "books-title">
       <h1 class="title_library">Wishlist</h1>
    </div>
      <div class="container-books">
        <div class="row">
          <% @all_wishlist_items.each do |book| %>
            <div class="d-flex flex-column align-items-center istvan">

                  <div class="flip-card-front">
                    <%= cl_image_tag book.image, height: 280, width: 242 %>
                  </div>
                  <div class="card-book-info d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-column justify-content-start card-infos">
                      <div class="flip-card-back">
                        <p><h2 class="card-book-title"><%= book.title %></h2></p> <br><br>
                        <div class="christophe d-flex justify-content-between align-items-center">
                          <p><h4 class="card-book-author"><%= book.author %></h4></p>
                          <p><h7 id="star">⭐ <%= book.average_rating %></h7 id="star"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        </div>
    </div>

    <% if !flash[:notice].blank? %>
       <div class = "alert alert-info">
          <%= flash[:notice] %>
       </div>
    <% end %>
  </div>
</div>


<!--

<div class="container-main">
  <div class="index_banner d-flex flex-column align-items-center">
 <div class = "books-title">
  <h1 class="title_library">WishList</h1>

   <div class="d-flex flex-column align-items-center istvan">
    <div class="card">
      <div class = "row">
      <h2><%= book.title %></h2>
      <p><%= book.author %>
        <%#= cl_image_tag book.image, width: 400, height: 300, crop: :fill %>
    <div class="card-book-info d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-start card-infos">
    </div>
  </div>
</p>
</div>
</div>
</div>
</div>

  <#% end %>
</div>




 -->


<!-- <div class="searchbar">
  <form class="form-inline"> -->
      <%#= form_tag domain_courses_path, method: :get do %>
        <%#= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search wishlist"
        %>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
      <%# end %>
<!--   </form>
</div> -->

<%# @wish_books.each do |book| %>
  <!-- <div class="card"> -->
    <%#= book.title %>
  <!-- </div> -->
<%# end %>
