<div class="searchbar">
  <form class="form-inline">
      <%= form_tag domain_courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a book"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
  </form>
</div>
<div class="container-main">
  <div class="index_banner d-flex flex-column align-items-center">
    <div class = "books-title">
       <h1 class="title_library">BOOKS LIBRARY</h1>
    </div>
      <div class="container-books">
        <div class="row">
          <% @books.first(8).each do |book| %>
            <div class="d-flex flex-column align-items-center istvan">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= cl_image_tag book.image, height: 280, width: 242 %>
                  </div>
                  <div class="flip-card-back">
                  <div class="book-title"><h2 class="card-book-title"><%= book.title %></h2></div>
                  <div class="book-author"><h4 class="card-book-author"><%= book.author %></h4></div>
                  <div class="book-year"><h4 class="card-book-year"><%= book.publishing_year %></h4></div>
                  <div class="book-details-and-rating d-flex justify-content-between">
                    <h7 id="star">⭐ <%= book.average_rating %></h7 id="star">
                    <% if policy(book).show? %>
                      <p><%= link_to "Details", domain_book_path(params[:domain_id],book), class: 'btn-details' %></p>
                    <% end %>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if policy(Book).new? %>
            <%= link_to "Create a New Book?", new_domain_book_path, class: 'btn-details2' %>
          <% end %>
        </div>
    </div>

    <% if !flash[:notice].blank? %>
       <div class = "alert alert-info">
          <%= flash[:notice] %>
       </div>
    <% end %>
  </div>
</div>

